<!DOCTYPE html>
<html lang="{{ config('app.locale') }}">

<head>
    {% block metadata %}
        {% include "theme::partials/metadata" %}
    {% endblock %}
</head>

<body>

{% include "theme::partials/navigation" %}

<div id="content">
    <div class="container"> 
       <!--  {% include "theme::partials/breadcrumbs" %} -->   
        {% include "theme::partials/messages" %} 
        {% block content %}{% endblock %} 
 
        {% if (request_path() == '/') %}
            <hr> {% include "theme::partials/videos" %}
        {% endif %}

        <hr>
        <a href="{{ post.url_field|raw }}" target="_blank">{{ post.url_field|raw }}</a>
    </div>
</div>

{% include "theme::partials/footer" %}
{% include "theme::partials/scripts" %}

</body>
</html>